<div class="container pad"
  style="background-color: #F5F5F5;padding-top:15%;padding-bottom:10%">
  <div style="padding-left:25%;padding-right:25%">

    <h3 dir="rtl" style="text-align: center"> نقاطك المتبقية: <span> xp 30
        !</span></h3>
    <br>
    <select class="form-control" style="width:100%;text-align: center">
      <option>
        كل الفئات
      </option>
      <option>
        روايات
      </option>
    </select>


    <h6 style="text-align:center;padding-top:5%">
      كل الفئات
    </h6>
  </div>

  <div class="row" style="font-size:16px;padding-bottom:5%">

    <div *ngFor="let book of books" class="col-sm-3 col-6"
      style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">
      <div class="card" (click)="openBook(book.id)" style="cursor: pointer;">
        <img style="width:100%;" class="card-img-top" src="{{book.image}}">
        <div class="card-body">
          <h5 class="card-title">
            {{book.name}}
          </h5>
        </div>
        <span dir="rtl" style="text-align: center">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Author: {{book.author.name}}
            </li>
            <li class="list-group-item">
              Price - SDG: {{book.priceSdg}}
            </li>
            <li class="list-group-item">
              Price - XP: {{book.priceXp}}
            </li>
          </ul>

          <div class="card-body">
            <button class="btn btn-sm btn-danger"
              (click)="openSnackBar(message.value, action.value)">
              اضف الى السلة <mat-icon>add</mat-icon>
            </button>
          </div>
        </span>

      </div>
    </div>

  </div>

  <div style="text-align:right" dir="rtl">
    لم تعثر على الكتاب الذي تبحث عنه؟ مكتبتنا قائمة على تبادل الكتب , فربما
    ستجد ضالتك قريبا
    <br> ادخل اسم الكتاب والمؤلف وسنخطرك بتوفره في مكتبتنا قريبا في شريط
    الاشعارات الخاص بك
    <br>
    <form #request="ngForm" (ngSubmit)="onSubmit(request.value)">
      اسم الكتاب :
      <input required [(ngModel)]="request.bookname" type="text " id="bookname"
        name="bookname" class="form-control feld" style="width:50%">
      <br> اسم المؤلف: (اختياري - في حال لم تتعرف عليه)
      <input type="text " [(ngModel)]="request.authorname" id="authname"
        name="authname" class="form-control feld" style="width:50%">
      <br>
      <button type="submit" class="btn btn-primary">
        ارسال
      </button>


    </form>
  </div>

</div>
