<div class="container pad" style="text-align:center;padding-top:15%;padding-bottom:5%">
  <h2 style="padding-bottom:5%">
    حالة طلب شراء الكتب
  </h2>




  
    <div  *ngFor="let order of order" >
      <div *ngIf="order.cancelled==false" >
        <mat-progress-bar  [mode]="mode" [value]="value1" [bufferValue]="bufferValue1">


          </mat-progress-bar>  
        
        {{order.status}}
        <!--
          <span *ngIf="order.status">
            جاري معالجة الطلب
          </span>
          <span *ngIf="order.status==going">
        الطلب في طريقه إليك
          </span>
          <span *ngIf="order.status==finished">
        تم وصول الطلب
          </span>
          -->
          <div style="padding:5%"> 
        
            <h4 style="font-family:cairo">
              <!--
    يجري الان معالجة الطلب ويتوقع ان يصلك في خلال  24 ساعة
-->
            </h4>
            <br>
            <br>
    <table class="table table-striped fony" style="font-size:25px" dir="rtl">
      <tbody>
        <tr>
          <td> رقم الطلب: </td>
          <td class="text-success">
            {{order._id}}
          </td>

        </tr>
        <tr>
          <td> رقم المستخدم : </td>
          <td class="text-success">{{user._id}} </td>

        </tr>
        <!--
          <tr>
              <td>  تاريخ الطلب:  </td>
              <td class="text-success">10/10/2019 </td>
              
            </tr>       
            -->
        <tr>
          <td> عدد الكتب: </td>
          <td class="text-success"><span>
              {{order.books.length}}</span> كتب </td>

        </tr>
        <tr>
          <td> سعر الكتب: </td>
          <td class="text-success">
            
            <span *ngIf="order.priceSDG > 0 " >
{{order.priceSDG}}
            ج
          
          </span>
          
            <span *ngIf="order.priceXP > 0 " >  {{order.priceXP}} XP </span> </td>
        </tr>
        <tr>
          <td>سعر التوصيل:</td>
          <td class="text-success">
            {{delivery}}
            ج
          </td>
        </tr>
        <tr>
          <td>الاجمالي:</td>
          <td class="text-success">
            {{order.totalPrice}}
           ج


          </td>
        </tr>
        <tr>
          <td> اسماء الكتب: </td>
          <td class="text-success"> 
            
            <!--
<span *ngFor="let book of books.name">
  {{book}} / <br>
</span>

                -->


                <!--
            المكافح العنيد <br>/ <br> ستيف جوبز / تاريخ المملكة <br> / <br>رؤية الاقتصاد 2020

-->
          </td>

        </tr>

        <tr>
          <td> عدد النقاط المتبقية:</td>
          <td class="text-success"> {{user.points}} xp</td>
        </tr>
      </tbody>
    </table>
  </div>
    <br>
    <h5 style="font-family: Tajawal">
      <a class="btn btn-primary" (click)="cancel(order._id)">الغاء الطلب</a>

      هل تريد الغاء الطلب؟
      <br>
      <br>
      <span class="text-danger" >

        ! لايمكنك الغاء الطلب بعد تخطي مرحلة معالجة الطلب
      </span>

    </h5>
 



  <br>
  <br>
  <br>
</div>

</div>

  <h2 style="padding-bottom:5%">
    حالة طلب تبديل الكتب
  </h2>



 
  <div  *ngFor="let order of trading" >
      <div *ngIf="order.cancelled==false" >
     <mat-progress-bar [mode]="mode" [value]="value1" [bufferValue]="bufferValue1">


  </mat-progress-bar>



  <span>
    جاري معالجة الطلب
  </span>
  <!--
  <span *ngif order.status == "proccing">
      جاري معالجة الطلب
    </span>
    <span>
الطلب في طريقه للوصول اليك
      </span>
      <span>
تم الوصول
        </span>
-->



  <br>
  <br>
  <h4 style="font-family:cairo">
    <!--
    يجري الان معالجة الطلب ويتوقع ان يصلك في خلال  24 ساعة
-->
  </h4>
  <br>
  <br>
  <table class="table table-striped fony" style="font-size:25px" dir="rtl">
    



    <tbody>
      <tr>
        <td> رقم الطلب: </td>
        <td class="text-success">
          {{order._id}}
        </td>

      </tr>
      <tr>
        <td> رقم المستخدم : </td>
        <td class="text-success">{{user._id}} </td>

      </tr>
      <!--
          <tr>
              <td>  تاريخ الطلب:  </td>
              <td class="text-success">10/10/2019 </td>
              
            </tr>
            
            
              <tr>
                  <td>  تاريخ الاستلام   :  </td>
                  <td class="text-success">10/10/2019 </td>
                  
                </tr>
           -->
      <tr>
        <td> عدد الكتب التي تم تبديلها: </td>
        <td class="text-success">
          {{order.books.length}}

          كتب
        </td>

      </tr>

      <tr>
        <td>سعر التوصيل:</td>
        <td class="text-success">مجانا</td>
      </tr>
      <tr>
        <td>الاجمالي:</td>
        <td class="text-success"> مجانا </td>
      </tr>


      <tr>
        <td>عدد نقاطك قبل التقييم :</td>
        <td class="text-success"> {{user.points}} XP</td>
      </tr>
      <tr>
        <td>عدد نقاطك بعد التقييم :</td>
        <td class="text-success">  XP</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h5 style="font-family: Tajawal">
    <a class="btn btn-primary" (click)="cancel(order._id)">الغاء الطلب</a>

    هل تريد الغاء الطلب؟
    <br>
    <br>
    <span class="text-danger" >

      ! لايمكنك الغاء الطلب بعد تخطي مرحلة معالجة الطلب
    </span>

  </h5>


  </div>
</div>
 



  <!--
  <mat-horizontal-stepper linear #stepper class="b" style="background-color: rgb(250, 250, 250);box-shadow: 10px 10px 5px grey">
    <mat-step   [completed]="com" [stepControl]="com" [editable]="isEditable">
        <ng-template matStepLabel > <h3>معالجة الطلب</h3> </ng-template>
        <div style="padding:5%">
  
        <h4 style="font-family:cairo">
          يجري الان معالجة الطلب ويتوقع ان يصلك في خلال 24 ساعة

        </h4>
        <br>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
   
          <tbody>
              <tr>
                  <td>  رقم الطلب:  </td>
                  <td class="text-success">5 </td>
                  
                </tr>
                <tr>
                    <td>  رقم المستخدم :  </td>
                    <td class="text-success">10 </td>
                    
                  </tr>
              <tr>
                  <td>   اسم الموظف:  </td>
                  <td class="text-success">أحمد صلاح </td>
                  
                </tr>
              <tr>
                  <td>  تاريخ الطلب:  </td>
                  <td class="text-success">10/10/2019 </td>
                  
                </tr>
                <tr>
                    <td>   عدد الكتب:  </td>
                    <td class="text-success">10 كتب </td>
                    
                  </tr>
            <tr>
              <td> سعر الكتب:  </td>
              <td class="text-success">30ج <span> + 0 XP </span> </td>
              
            </tr>
            <tr>
              <td>سعر التوصيل:</td>
              <td class="text-success">40ج</td>
            </tr>
            <tr>
              <td>الاجمالي:</td>
              <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
            </tr>
            <tr>
                <td>   اسماء الكتب:  </td>
                <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                
              </tr>
              <tr>
                  <td>مكان الاستلام:</td>
                  <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                </tr>
          </tbody>
        </table>
        <br>
        <h5 style="font-family: Tajawal">
            <a class="btn btn-primary">الغاء الطلب</a>

          هل تريد الغاء الطلب؟ 
          <br>
          <br>
          <span class="text-danger">

         ! لايمكنك الغاء الطلب بعد تخطي مرحلة معالجة الطلب 
        </span>

        </h5>
      </div>
  
    </mat-step>
    <mat-step size="4" class="mat-stepp" [stepControl]="false" [editable]="isEditable">
        <ng-template matStepLabel> <h3>في الطريق اليك</h3> </ng-template>
        <div style="padding:5%">
  
        <h4 style="font-family:cairo">
          الطلب الان في طريقه للوصول اليك ويتوقع ان يصلك في خلال 5 ساعات
  
        </h4>
        <br>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
   
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                  <tr>
                      <td>   عدد الكتب:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
              <tr>
                <td> سعر الكتب:  </td>
                <td class="text-success">30ج <span> + 0 XP </span> </td>
                
              </tr>
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">40ج</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
              </tr>
              <tr>
                  <td>   اسماء الكتب:  </td>
                  <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                  
                </tr>
                <tr>
                    <td>مكان الاستلام:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
            </tbody>
          </table>
      </div>
  
    </mat-step>
    <mat-step  [editable]="isEditable">
      <ng-template matStepLabel> <h3>تم الوصول</h3> </ng-template>
      <div style="padding:5%">
  
      <h4 style="font-family:cairo">
        تم وصول الطلب اليك  
     
      </h4>
      <br>
      <br>
      <table class="table table-striped fony" style="font-size:25px" dir="rtl">
   
          <tbody>
              <tr>
                  <td>  رقم الطلب:  </td>
                  <td class="text-success">5 </td>
                  
                </tr>
                <tr>
                    <td>  رقم المستخدم :  </td>
                    <td class="text-success">10 </td>
                    
                  </tr>
              <tr>
                  <td>   اسم الموظف:  </td>
                  <td class="text-success">أحمد صلاح </td>
                  
                </tr>
              <tr>
                  <td>  تاريخ الطلب:  </td>
                  <td class="text-success">10/10/2019 </td>
                  
                </tr>
                <tr>
                    <td>   عدد الكتب:  </td>
                    <td class="text-success">10 كتب </td>
                    
                  </tr>
            <tr>
              <td> سعر الكتب:  </td>
              <td class="text-success">30ج <span> + 0 XP </span> </td>
              
            </tr>
            <tr>
              <td>سعر التوصيل:</td>
              <td class="text-success">40ج</td>
            </tr>
            <tr>
              <td>الاجمالي:</td>
              <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
            </tr>
            <tr>
                <td>   اسماء الكتب:  </td>
                <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                
              </tr>
              <tr>
                  <td>مكان الاستلام:</td>
                  <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                </tr>
          </tbody>
        </table>
    </div>
    </mat-step>
    <mat-step [editable]="isEditable">
      <ng-template matStepLabel> <h3>تم الاستلام</h3> </ng-template>
      <div style="padding:5%">
  
      <h4 style="font-family:cairo">
        لقد قمت باستلام الطلب
    
      </h4>
      <br>
      <br>
      <table class="table table-striped fony" style="font-size:25px" dir="rtl">
   
          <tbody>
              <tr>
                  <td>  رقم الطلب:  </td>
                  <td class="text-success">5 </td>
                  
                </tr>
                <tr>
                    <td>  رقم المستخدم :  </td>
                    <td class="text-success">10 </td>
                    
                  </tr>
              <tr>
                  <td>   اسم المستلم:  </td>
                  <td class="text-success">أحمد صلاح </td>
                  
                </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                  <tr>
                      <td>  تاريخ الاستلام:  </td>
                      <td class="text-success">10/10/2019 - 00:00 </td>
                      
                    </tr>
                    <tr>
                        <td>   الوقت المستغرق للوصول:  </td>
                        <td class="text-success">يوم و 5 ساعات </td>
                        
                      </tr>
              <tr>
                  <td>  تاريخ الطلب:  </td>
                  <td class="text-success">10/10/2019 </td>
                  
                </tr>
                <tr>
                    <td>   عدد الكتب:  </td>
                    <td class="text-success">10 كتب </td>
                    
                  </tr>
            <tr>
              <td> سعر الكتب:  </td>
              <td class="text-success">30ج <span> + 0 XP </span> </td>
              
            </tr>
            <tr>
              <td>سعر التوصيل:</td>
              <td class="text-success">40ج</td>
            </tr>
            <tr>
              <td>الاجمالي:</td>
              <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
            </tr>
            <tr>
                <td>   اسماء الكتب:  </td>
                <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                
              </tr>
              <tr>
                  <td>مكان الاستلام:</td>
                  <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                </tr>
                <tr>
                    <td> عدد النقاط المتبقية:</td>
                    <td class="text-success"> 100 xp</td>
                  </tr>
          </tbody>
        </table>
   </div>
    </mat-step>
  </mat-horizontal-stepper>
  
  
  
  <mat-vertical-stepper linear #stepper class="a" style="background-color: rgb(250, 250, 250);box-shadow: 10px 10px 5px grey;display: none">
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <ng-template matStepLabel > <h3>معالجة الطلب</h3> </ng-template>
          <div style="padding:5%">
    
          <h4 style="font-family:cairo">
            يجري الان معالجة الطلب ويتوقع ان يصلك في خلال 24 ساعة
    
          </h4>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                  <tr>
                      <td>   عدد الكتب:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
              <tr>
                <td> سعر الكتب:  </td>
                <td class="text-success">30ج <span> + 0 XP </span> </td>
                
              </tr>
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">40ج</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
              </tr>
              <tr>
                  <td>   اسماء الكتب:  </td>
                  <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                  
                </tr>
                <tr>
                    <td>مكان الاستلام:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
            </tbody>
          </table>
          <br>
          <h5 style="font-family: Tajawal">
              <a class="btn btn-primary">الغاء الطلب</a>
  
            هل تريد الغاء الطلب؟ 
            <br>
            <br>
            <span class="text-danger">
  
           ! لايمكنك الغاء الطلب بعد تخطي مرحلة معالجة الطلب 
          </span>
  
          </h5>
        </div>
    
      </mat-step>
      <mat-step size="4" class="mat-stepp" [stepControl]="secondFormGroup" [editable]="isEditable">
          <ng-template matStepLabel> <h3>في الطريق اليك</h3> </ng-template>
          <div style="padding:5%">
    
          <h4 style="font-family:cairo">
            الطلب الان في طريقه للوصول اليك ويتوقع ان يصلك في خلال 5 ساعات
    
          </h4>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>   عدد الكتب:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
                <tr>
                  <td> سعر الكتب:  </td>
                  <td class="text-success">30ج <span> + 0 XP </span> </td>
                  
                </tr>
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">40ج</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
                </tr>
                <tr>
                    <td>   اسماء الكتب:  </td>
                    <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                    
                  </tr>
                  <tr>
                      <td>مكان الاستلام:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
              </tbody>
            </table>
        </div>
    
      </mat-step>
      <mat-step  [editable]="isEditable">
        <ng-template matStepLabel> <h3>تم الوصول</h3> </ng-template>
        <div style="padding:5%">
    
        <h4 style="font-family:cairo">
          تم وصول الطلب اليك  
       
        </h4>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                  <tr>
                      <td>   عدد الكتب:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
              <tr>
                <td> سعر الكتب:  </td>
                <td class="text-success">30ج <span> + 0 XP </span> </td>
                
              </tr>
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">40ج</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
              </tr>
              <tr>
                  <td>   اسماء الكتب:  </td>
                  <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                  
                </tr>
                <tr>
                    <td>مكان الاستلام:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
            </tbody>
          </table>
      </div>
      </mat-step>
      <mat-step [editable]="isEditable">
        <ng-template matStepLabel> <h3>تم الاستلام</h3> </ng-template>
        <div style="padding:5%">
    
        <h4 style="font-family:cairo">
          لقد قمت باستلام الطلب
      
        </h4>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم المستلم:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                    <tr>
                        <td>  تاريخ الاستلام:  </td>
                        <td class="text-success">10/10/2019 - 00:00 </td>
                        
                      </tr>
                      <tr>
                          <td>   الوقت المستغرق للوصول:  </td>
                          <td class="text-success">يوم و 5 ساعات </td>
                          
                        </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                  <tr>
                      <td>   عدد الكتب:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
              <tr>
                <td> سعر الكتب:  </td>
                <td class="text-success">30ج <span> + 0 XP </span> </td>
                
              </tr>
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">40ج</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
              </tr>
              <tr>
                  <td>   اسماء الكتب:  </td>
                  <td class="text-success">المكافح العنيد / ستيف جوبز / تاريخ المملكة / رؤية الاقتصاد 2020</td>
                  
                </tr>
                <tr>
                    <td>مكان الاستلام:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
                  <tr>
                      <td> عدد النقاط المتبقية:</td>
                      <td class="text-success"> 100 xp</td>
                    </tr>
            </tbody>
          </table>
     </div>
      </mat-step>
    </mat-vertical-stepper>
    
  
  
  
  </div>
  
  
  
  
  <div class="container pad" style="text-align:center;padding-top:5%;padding-bottom:10%" >
  
  
  <h2 style="padding-bottom:5%">
      حالة طلب تبديل الكتب
    </h2>
    
    <mat-horizontal-stepper linear #stepper class="b" style="background-color: rgb(250, 250, 250);box-shadow: 10px 10px 5px grey">
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <ng-template matStepLabel > <h4 style="font-family:cairo">معالجة الطلب</h4> </ng-template>
          <div style="padding:5%">
    
          <h4 style="font-family:cairo">
            يجري الان معالجة الطلب ويتوقع ان يصلك في خلال 24 ساعة
    
          </h4>
          <br>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>   عدد الكتب المراد تبديلها:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
               
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">مجانا</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> مجانا </td>
                </tr>
               
                  <tr>
                      <td>مكان العميل:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
                    <tr>
                        <td>عدد نقاطك حالياً :</td>
                        <td class="text-success"> 10 XP</td>
                      </tr>
              </tbody>
            </table>
          <h5 style="font-family: Tajawal">
              <a class="btn btn-primary">الغاء الطلب</a>

            هل تريد الغاء الطلب؟ 
            <br>
            <br>
            <span class="text-danger">

           ! لايمكنك الغاء الطلب بعد تخطي مرحلة معالجة الطلب 
          </span>

          </h5>
        </div>
    
      </mat-step>
      <mat-step size="4" class="mat-stepp" [stepControl]="secondFormGroup" [editable]="isEditable">
          <ng-template matStepLabel> <h4 style="font-family:cairo">في الطريق اليك</h4> </ng-template>
          <div style="padding:5%">
    
          <h4 style="font-family:cairo">
            الطلب الان في طريقه للوصول اليك ويتوقع ان يصلك في خلال 5 ساعات
    
          </h4>
          <br>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>   عدد الكتب المراد تبديلها:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
               
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">مجانا</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> مجانا </td>
                </tr>
               
                  <tr>
                      <td>مكان العميل:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
                    <tr>
                        <td>عدد نقاطك حالياً :</td>
                        <td class="text-success"> 10 XP</td>
                      </tr>
              </tbody>
            </table>
        </div>
    
      </mat-step>
      <mat-step  [editable]="isEditable">
        <ng-template matStepLabel> <h4 style="font-family:cairo">تم الوصول</h4> </ng-template>
        <div style="padding:5%">
    
        <h4 style="font-family:cairo">
          تم وصول الموظف اليك  
       
        </h4>
        <br>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                
                  <tr>
                      <td>   عدد الكتب المراد تبديلها:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
             
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">مجانا</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> مجانا </td>
              </tr>
             
                <tr>
                    <td>مكان العميل:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
                  <tr>
                      <td>عدد نقاطك حالياً :</td>
                      <td class="text-success"> 10 XP</td>
                    </tr>
            </tbody>
          </table>
      </div>
      </mat-step>
      <mat-step [editable]="isEditable">
        <ng-template matStepLabel> <h4 style="font-family:cairo"> الاستلام</h4> </ng-template>
        <div style="padding:5%">
    
        <h4 style="font-family:cairo">
 تم استلام الكتب بنجاح ، بإنتظار تقييمها في خلال 24 ساعة    
        </h4>
        <br>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                  <tr>
                      <td>   اسم العميل:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                  <tr>
                      <td>  الوقت المستغرق للوصول :  </td>
                      <td class="text-success">يوم و 5 ساعات </td>
                      
                    </tr>
                    <tr>
                        <td>  تاريخ الاستلام   :  </td>
                        <td class="text-success">10/10/2019 </td>
                        
                      </tr>
                 
                  <tr>
                      <td>   عدد الكتب التي تم تبديلها:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
             
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">مجانا</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> مجانا </td>
              </tr>
             
                <tr>
                    <td>مكان العميل:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
                  <tr>
                      <td>عدد نقاطك حالياً :</td>
                      <td class="text-success"> 10 XP</td>
                    </tr>
            </tbody>
          </table>
     </div>
      </mat-step>
      <mat-step [editable]="isEditable">
          <ng-template matStepLabel> <h4 style="font-family:cairo">  التقييم</h4> </ng-template>
          <div style="padding:5%">
      
          <h4 style="font-family:cairo" dir="rtl" >
تهانينا ! , حصلت على 30 xp 
<br>
الان لديك 40 xp
          </h4>
          <br>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                    <tr>
                        <td>   اسم العميل:  </td>
                        <td class="text-success">أحمد صلاح </td>
                        
                      </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>  الوقت المستغرق للوصول :  </td>
                        <td class="text-success">يوم و 5 ساعات </td>
                        
                      </tr>
                      <tr>
                          <td>  تاريخ الاستلام   :  </td>
                          <td class="text-success">10/10/2019 </td>
                          
                        </tr>
                   
                    <tr>
                        <td>   عدد الكتب التي تم تبديلها:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
               
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">مجانا</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> مجانا </td>
                </tr>
               
                  <tr>
                      <td>مكان العميل:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
                    <tr>
                        <td>عدد نقاطك بعد التقييم :</td>
                        <td class="text-success"> 10 XP</td>
                      </tr>
              </tbody>
            </table>
       </div>
        </mat-step>
    </mat-horizontal-stepper>
  
  







   <mat-vertical-stepper linear #stepper class="a" style="background-color: rgb(250, 250, 250);box-shadow: 10px 10px 5px grey;display: none;">
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <ng-template matStepLabel > <h4 style="font-family:cairo">معالجة الطلب</h4> </ng-template>
          <div style="padding:5%">
    
          <h4 style="font-family:cairo">
            يجري الان معالجة الطلب ويتوقع ان يصلك في خلال 24 ساعة
    
          </h4>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>   عدد الكتب المراد تبديلها:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
               
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">مجانا</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> مجانا </td>
                </tr>
               
                  <tr>
                      <td>مكان العميل:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
                    <tr>
                        <td>عدد نقاطك حالياً :</td>
                        <td class="text-success"> 10 XP</td>
                      </tr>
              </tbody>
            </table>
          <h5 style="font-family: Tajawal">
              <a class="btn btn-primary">الغاء الطلب</a>

            هل تريد الغاء الطلب؟ 
            <br>
            <br>
            <span class="text-danger">

           ! لايمكنك الغاء الطلب بعد تخطي مرحلة معالجة الطلب 
          </span>

          </h5>
        </div>
    
      </mat-step>
      <mat-step size="4" class="mat-stepp" [stepControl]="secondFormGroup" [editable]="isEditable">
          <ng-template matStepLabel> <h4 style="font-family:cairo">في الطريق اليك</h4> </ng-template>
          <div style="padding:5%">
    
          <h4 style="font-family:cairo">
            الطلب الان في طريقه للوصول اليك ويتوقع ان يصلك في خلال 5 ساعات
    
          </h4>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>   عدد الكتب المراد تبديلها:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
               
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">مجانا</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> مجانا </td>
                </tr>
               
                  <tr>
                      <td>مكان العميل:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
                    <tr>
                        <td>عدد نقاطك حالياً :</td>
                        <td class="text-success"> 10 XP</td>
                      </tr>
              </tbody>
            </table>
        </div>
    
      </mat-step>
      <mat-step  [editable]="isEditable">
        <ng-template matStepLabel> <h4 style="font-family:cairo">تم الوصول</h4> </ng-template>
        <div style="padding:5%">
    
        <h4 style="font-family:cairo">
          تم وصول الموظف اليك  
       
        </h4>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                
                  <tr>
                      <td>   عدد الكتب المراد تبديلها:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
             
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">مجانا</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> مجانا </td>
              </tr>
             
                <tr>
                    <td>مكان العميل:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
                  <tr>
                      <td>عدد نقاطك حالياً :</td>
                      <td class="text-success"> 10 XP</td>
                    </tr>
            </tbody>
          </table>
      </div>
      </mat-step>
      <mat-step [editable]="isEditable">
        <ng-template matStepLabel> <h4 style="font-family:cairo"> الاستلام</h4> </ng-template>
        <div style="padding:5%">
    
        <h4 style="font-family:cairo">
 تم استلام الكتب بنجاح ، بإنتظار تقييمها في خلال 24 ساعة    
        </h4>
        <br>
        <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
            <tbody>
                <tr>
                    <td>  رقم الطلب:  </td>
                    <td class="text-success">5 </td>
                    
                  </tr>
                  <tr>
                      <td>  رقم المستخدم :  </td>
                      <td class="text-success">10 </td>
                      
                    </tr>
                <tr>
                    <td>   اسم الموظف:  </td>
                    <td class="text-success">أحمد صلاح </td>
                    
                  </tr>
                  <tr>
                      <td>   اسم العميل:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                <tr>
                    <td>  تاريخ الطلب:  </td>
                    <td class="text-success">10/10/2019 </td>
                    
                  </tr>
                  <tr>
                      <td>  الوقت المستغرق للوصول :  </td>
                      <td class="text-success">يوم و 5 ساعات </td>
                      
                    </tr>
                    <tr>
                        <td>  تاريخ الاستلام   :  </td>
                        <td class="text-success">10/10/2019 </td>
                        
                      </tr>
                 
                  <tr>
                      <td>   عدد الكتب التي تم تبديلها:  </td>
                      <td class="text-success">10 كتب </td>
                      
                    </tr>
             
              <tr>
                <td>سعر التوصيل:</td>
                <td class="text-success">مجانا</td>
              </tr>
              <tr>
                <td>الاجمالي:</td>
                <td class="text-success"> مجانا </td>
              </tr>
             
                <tr>
                    <td>مكان العميل:</td>
                    <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                  </tr>
                  <tr>
                      <td>عدد نقاطك حالياً :</td>
                      <td class="text-success"> 10 XP</td>
                    </tr>
            </tbody>
          </table>
     </div>
      </mat-step>
      <mat-step [editable]="isEditable">
          <ng-template matStepLabel> <h4 style="font-family:cairo">  التقييم</h4> </ng-template>
          <div style="padding:5%">
      
          <h4 style="font-family:cairo" dir="rtl" >
تهانينا ! , حصلت على 30 xp 
<br>
الان لديك 40 xp
          </h4>
          <br>
          <table class="table table-striped fony" style="font-size:25px" dir="rtl">
     
              <tbody>
                  <tr>
                      <td>  رقم الطلب:  </td>
                      <td class="text-success">5 </td>
                      
                    </tr>
                    <tr>
                        <td>  رقم المستخدم :  </td>
                        <td class="text-success">10 </td>
                        
                      </tr>
                  <tr>
                      <td>   اسم الموظف:  </td>
                      <td class="text-success">أحمد صلاح </td>
                      
                    </tr>
                    <tr>
                        <td>   اسم العميل:  </td>
                        <td class="text-success">أحمد صلاح </td>
                        
                      </tr>
                  <tr>
                      <td>  تاريخ الطلب:  </td>
                      <td class="text-success">10/10/2019 </td>
                      
                    </tr>
                    <tr>
                        <td>  الوقت المستغرق للوصول :  </td>
                        <td class="text-success">يوم و 5 ساعات </td>
                        
                      </tr>
                      <tr>
                          <td>  تاريخ الاستلام   :  </td>
                          <td class="text-success">10/10/2019 </td>
                          
                        </tr>
                   
                    <tr>
                        <td>   عدد الكتب التي تم تبديلها:  </td>
                        <td class="text-success">10 كتب </td>
                        
                      </tr>
               
                <tr>
                  <td>سعر التوصيل:</td>
                  <td class="text-success">مجانا</td>
                </tr>
                <tr>
                  <td>الاجمالي:</td>
                  <td class="text-success"> مجانا </td>
                </tr>
               
                  <tr>
                      <td>مكان العميل:</td>
                      <td class="text-success"> الخرطوم - بحري - الختمية - شارع المزاد</td>
                    </tr>
                    <tr>
                        <td>عدد نقاطك بعد التقييم :</td>
                        <td class="text-success"> 10 XP</td>
                      </tr>
              </tbody>
            </table>
       </div>
        </mat-step>
    </mat-vertical-stepper>
  
  -->




