
<div  class="container pad" style="padding-top:15%;text-align:right;padding-bottom: 15%">

<div class="row">
<div class="col-sm-8">
<h3>
{{book.name}}
</h3>

<h4>
    {{book.author.name}}
  </h4>
<br>
<h6>

    : نبذة عن الكتاب </h6>
<p style="font-size: 16px">
{{book.description}}
</p>

<small >حالة الكتاب :</small> 
<small> {{book.status}} مستعمل بحالة</small>
<br>
<small>عدد الصفحات : {{book.pages}}</small>
<small>ملاحظات اضافية : {{book.note}}</small>

<br>
<br>
<h4 dir="rtl" class="text-info">
    {{book.priceSdg}} جنيه سوداني
    <br>
    {{book.priceXp}} xp
    &nbsp;  &nbsp; 
    <br>
<span class="blc">
<button class="btn btn-danger" style="color:whitesmoke;" (click)="addToCart(book._id)">
        اضف الى السلة +
    </button>
  </span>
</h4>


</div>

<div class="col-sm-4">

    <img style="width:100%;" class="img responsive" src="{{book.image}}" >

  </div>
  

</div>


</div>
