









<div  class="container pad" style="padding-top:15%;text-align:right;padding-bottom: 15%">


<div class="row">

<div class="col-sm-8">

<h3>
 ستيف جوبز المكافح العنيد
</h3>

<h4>
  سمير امام شرف
</h4>
<br>
<h6>

    : نبذة عن الكتاب </h6>
<p style="font-size: 16px">
    بعد أن تقوم بإنشاء حسابك على موقع بوكابكيا وتقوم بتجهيز كتبك التي ترغب في تبديلها، ستقوم بعمل طلب تبرع للموقع بكتبك، وسوف يقوم فريق التوصيل بالقدوم إليك لأخذ الكتب فى خلال أيام، وقبل مرور 24 ساعة بعد إستلام الكتب منك سوف تتم إضافة رصيد من عملات موقع بوكابكيا إلى حسابك الذي سيمكنك من شراء أي كتاب قام بالتبرع به شخص آخر للموقع، و ستتمكن من شراء أكثر من كتاب مختلف من أكثر من شخص مختلف في نفس الوقت دون الحاجة لرغبتهم الشخصية في كتبك، أنت لا تقلق فهناك آخرون يرغبون بكتبك وهكذا تكتمل السلسلة. لاحظ فعليا إنك تخلصت من كتبك الغير مرغوب فيها، إشتريت أو إستعرت كتب أخرى دون أن تدفع سوى رسوم الشحن فقط ، وأنهينا مشكلة الرغبة المشتركة بين الأطراف.
</p>

<small >حالة الكتاب :</small>
<small> مستعمل بحالة</small>
<small class="text-success">  جيدة </small>
<br>
<small>عدد الصفحات : 412</small>
<br>
<br>
<h4 dir="rtl" class="text-info">
30  جنيه سوداني - 20  XP  &nbsp;  &nbsp; 
<span class="blc">
<a class="btn  btn-danger" style="color:whitesmoke;">

    <span>
        اضف الى السلة +
      </span> 
    </a>
  </span>
</h4>


</div>

<div class="col-sm-4">

    <img style="width:100%;" class="rounded" src="assets/images/test.jpg" >





  </div>
  








</div>






</div>