<form>
    <div class="row pad" style="padding-top:15%">

    <div class="col-sm-5">
    </div>
<div class="form-group col-sm-5" dir="rtl" style="text-align:right">
   <h3>
        لوحة التحكم الخاصة بي xd

   </h3>
    <br>
    اسم الكتاب :
<input type="text" class="form-control">
<br>

السعر بالجنيه
<input type="text" class="form-control">
<br>

السعر ب xp
<input type="text" class="form-control">
<br>

المؤلف
<input type="text" class="form-control">
<br>

نبذة عن الكتاب
<textarea rows="10" cols="10" class="form-control">

</textarea>



<br>

عدد الصفحات
<input type="text" class="form-control">
 <br>


 <select class="form-control" >
     <option>حالة الكتاب</option>
     <option>جديد</option>
     <option>مستعمل بحالة جيدة</option>
     <option>مستعمل بحالة متوسطة</option>
     <option>مستعمل بحالة مقبولة</option>

 </select>

<br>



<select class="form-control" >
<option>
الفئة
</option>
<option>
    رواية
    </option>
    <option>
    علمية
        </option>
        <option>
    سيرة ذاتية
            </option>



</select>


<br>

الصورة:
<input type="file" class="form-control">

<br>
<button type="submit" class="btn btn-warning">submit</button>

</div>




<button type="submit" class="btn btn-warning">submit</button>
<br>
</div>

</form>