<div class="hero-image"  >
    <nav class="navbar navbar-expand-sm  " style="background-color: transparent;text-align: right;color:whitesmoke">
  <div class="container">
<ul class="nav navbar-nav ml-auto">

    <li class="nav-item" style="padding:5px;">
      <a routerLink="/Index" >
          <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

        الصفحة الرئيسية  
      </button>

    </a>
    </li>
  

    <li class="nav-item" style="padding:5px;"> 
      <a routerLink="/signin">
          <button class="btn " style="background-color:transparent;color: white;border:1px solid whitesmoke ">

       تسجيل الدخول
    </button>
    </a>
    </li>

</ul>

</div>

</nav>
    <div dir="rtl" class="hero-text">
      <div style="text-align:center">
  <h1 style="font-family:cairo;"  >إنشاء حساب جديد 
  </h1>
  <br>

  
              </div>
    </div>
    
  </div>
  <br>


  <div class="container pad" dir="rtl" style="text-align: right;padding-bottom: 5%">
<h3 style="text-align: center;padding-top:3%;padding-bottom:3%;">
  إنشاء حساب جديد
</h3>
<form>
<div class="form-group">
    <label style="padding-right:5px;" for="Username">الاسم:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

    <input  required type="text" class="form-control" id="Username" placeholder="الاسم الاول" name="Username">
  </span>

  <span style=" display:inline-block;width:30%" class="feld">
    <input  required type="text" class="form-control" id="Username" placeholder="الاسم الاخير" name="Username">
  </span>
</div>

<div class="form-group">
    <label style="padding-right:5px;" for="email">البريد الالكتروني:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feldd">

    <input  required type="text" class="form-control" id="email" placeholder="البريد الالكتروني" name="Username">
  </span>
</div>




<div class="form-group">
    <label style="padding-right:5px;" for="pwd">كلمة السر:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

    <input  required type="text" class="form-control" id="pwd" placeholder=" كلمة السر" name="pwd">
  </span>

  <span style=" display:inline-block;width:30%" class="feld">
    <input  required type="text" class="form-control" id="pwd" placeholder="تأكيد كلمة السر " name="pwd">
  </span>
</div>



<div class="form-group" >
    <label style="padding-right:5px;" for="date">تاريخ الميلاد:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feldd">

    <input   required type="date" class="form-control" id="date" placeholder="  تاريخ الميلاد" name="date">
  </span>

  
</div>


<br>
<div class="form-group" >
  <small class="text-info" style="padding:5px" >
نستخدم هذه المعلومات عند التوصيل*
  </small>
  <br>
    <label style="padding-right:5px;" for="tel"> رقم الهاتف:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

    <input   required type="number" class="form-control" id="tel" placeholder="رقم الهاتف" name="date">
  </span>

  
</div>

<div class="form-group" >
    <label style="padding-right:5px;" for="">اختر الدولة:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

<select class="form-control" style="padding:5px">
  <option>
    السودان
  </option>

</select>
</span>

  
</div>

<div class="form-group" >
    <label style="padding-right:5px;" for=""> اختر الولاية والمحلية:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

<select class="form-control"  style="padding:5px">
  <option>
    الخرطوم
  </option>

</select>
</span>
<span style="display:inline-block;width:30%;" class="feld">

<select class="form-control" style="padding:5px">

<option>
بحري
</option>
<option>
    شرق النيل
    </option>
    <option>
        كرري
        </option>
        <option>
            امدرمان
            </option>
            <option>
                جبل اولياء
                </option>
                <option>
                    بلا بلا بلا
                    </option>
                    <option>
                        بلا بلا بلا
                        </option>
</select>

</span>

</div>


<div class="form-group">
    <label style="padding-right:5px;" for="street"> ادخل الحي والشارع:</label>
    <br>
    <span style="display:inline-block;width:30%;padding:5px" class="feld">

    <input  required type="text" class="form-control" id="street" placeholder="الحي" name="street">
  </span>

  <span style=" display:inline-block;width:30%" class="feld">
    <input  required type="text" class="form-control" id="streetone" placeholder="الشارع " name="streetone">
  </span>
</div>


<div class="form-group">
    <label style="padding-right:5px;" for="street"> ادخل  العنوان:</label>
    <br>
    <span style="display:inline-block;width:60.5%;padding:5px" class="feldd">

    <input  required type="text" class="form-control" id="all" placeholder="العنوان" name="all">
  </span>

</div>
<div class="form-group form-check">
    <input dir="rtl" class="form-check-input-lg" type="checkbox" name="accept">  
    <label class="form-check-label">
        &nbsp;  اوافق على <a routerLink="/terms" class="outline"  style="color:#5A6268"> شروط الاستخدام </a> و <a routerLink="/privacy" style="color:#5A6268" class="outline" >سياسة الخصوصية </a> 
    </label>
  </div>
<div style="padding-right: 5px">

<button style="width:15%;padding:5px" type="submit" class="btn btn-secondary bot">ارسال</button>
</div>



</form>


  </div>







  