



<div class="container pad" style="background-color: #F5F5F5;padding-top:15%;padding-bottom:10%">
<div style="padding-left:25%;padding-right:25%">
  
<h3 dir="rtl" style="text-align: center"> نقاطك المتبقية:     <span> xp 30 !</span></h3>
<br>
<select class="form-control" style="width:100%;text-align: center" >
  <option>
    كل الفئات
  </option>
  <option>
     روايات
  </option>
</select>
 

<h6 style="text-align:center;padding-top:5%">

كل الفئات
</h6>
</div>

<div class="row" style="font-size:16px;padding-bottom:5%">

        <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">



  

  <img style="width:100%;" src="assets/images/test.jpg" >
              <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">

  <span dir="rtl" style="text-align: center">
<br>
          ستيف جوبز المكافح العنيد
          <br>
          المؤلف :سمير امام شرف
          <br>
          <br>

<b>
          30 جنيه سوداني -          20XP
        </b>

          <br>
          <br>
          <button class="btn btn-sm btn-danger">

              <span >
                  اضف الى السلة +
                </span> 
                <br>   
              </button>
        </span>

</div>
</div>
<div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

    <img style="width:100%;" src="assets/images/test.jpg" >
<div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
    <span dir="rtl" style="text-align: center">
  <br>
            ستيف جوبز المكافح العنيد
            <br>
            المؤلف :سمير امام شرف
            <br>
            <br>
  
  <b>
          30 جنيه سوداني -          20XP
        </b>
  
            <br>
            <br>
            <button class="btn btn-sm btn-danger">

                <span >
                    اضف الى السلة +
                  </span> 
                  <br>   
                </button>
          </span>
  
  </div>

  
</div>
        <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

    <img style="width:100%;" src="assets/images/test.jpg" >
                <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">

    <span dir="rtl" style="text-align: center">
  <br>
            ستيف جوبز المكافح العنيد
            <br>
            المؤلف :سمير امام شرف
            <br>
            <br>
  
  <b>
          30 جنيه سوداني -          20XP
        </b>
  
            <br>
            <br>
           <button class="btn btn-sm btn-danger">

                    <span >
                        اضف الى السلة +
                      </span> 
                      <br>   
                    </button>         </span>
  
  </div>

  
</div>
        <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

    <img style="width:100%;" src="assets/images/test.jpg" >
<div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
    <span dir="rtl" style="text-align: center">
  <br>
            ستيف جوبز المكافح العنيد
            <br>
            المؤلف :سمير امام شرف
            <br>
            <br>
  
  <b>
          30 جنيه سوداني -          20XP
        </b>
  
            <br>
            <br>
           <button class="btn btn-sm btn-danger">

                    <span >
                        اضف الى السلة +
                      </span> 
                      <br>   
                    </button>         </span>
  
  </div>

  
</div>

























            <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

      
    
      <img style="width:100%;" src="assets/images/test.jpg" >
  <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
      <span dir="rtl" style="text-align: center">
    <br>
              ستيف جوبز المكافح العنيد
              <br>
              المؤلف :سمير امام شرف
              <br>
              <br>
    
    <b>
          30 جنيه سوداني -          20XP
        </b>
    
              <br>
              <br>
              <button class="btn btn-sm btn-danger">

                  <span >
                      اضف الى السلة +
                    </span> 
                    <br>   
                  </button>
            </span>
    
    </div>
    
    </div>
            <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

        <img style="width:100%;" src="assets/images/test.jpg" >
    <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
        <span dir="rtl" style="text-align: center">
      <br>
                ستيف جوبز المكافح العنيد
                <br>
                المؤلف :سمير امام شرف
                <br>
                <br>
      
      <b>
          30 جنيه سوداني -          20XP
        </b>
      
                <br>
                <br>
                <button class="btn btn-sm btn-danger">

                    <span >
                        اضف الى السلة +
                      </span> 
                      <br>   
                    </button>
              </span>
      
      </div>
    
      
    </div>
            <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

        <img style="width:100%;" src="assets/images/test.jpg" >
    <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
        <span dir="rtl" style="text-align: center">
      <br>
                ستيف جوبز المكافح العنيد
                <br>
                المؤلف :سمير امام شرف
                <br>
                <br>
      
      <b>
          30 جنيه سوداني -          20XP
        </b>
      
                <br>
                <br>
                  <button class="btn btn-sm btn-danger">

                    <span >
                        اضف الى السلة +
                      </span> 
                      <br>   
                    </button>      </span>
      
      </div>
    
      
    </div>
            <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

        <img style="width:100%;" src="assets/images/test.jpg" >
    <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
        <span dir="rtl" style="text-align: center">
      <br>
                ستيف جوبز المكافح العنيد
                <br>
                المؤلف :سمير امام شرف
                <br>
                <br>
      
      <b>
          30 جنيه سوداني -          20XP
        </b>
      
                <br>
                <br>
                  <button class="btn btn-sm btn-danger">

                    <span >
                        اضف الى السلة +
                      </span> 
                      <br>   
                    </button>      </span>
      
      </div>
    
      
    </div>
    
    
    






















        <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">
          
        
            <img style="width:100%;" src="assets/images/test2.jpg" >
      <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
          <span dir="rtl" style="text-align: center">
        <br>
مؤسس مايكروسفت بيل قيتس
                  <br>
                  المؤلف :سمير امام شرف
                  <br>
                  <br>
        
        <b>
          30 جنيه سوداني -          20XP
        </b>
        
                  <br>
                  <br>
                  <button class="btn btn-sm btn-danger">

                      <span >
                          اضف الى السلة +
                        </span> 
                        <br>   
                      </button>
                </span>
        
        </div>
        </div>
                <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

            <img style="width:100%;" src="assets/images/test2.jpg" >
        <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
            <span dir="rtl" style="text-align: center">
          <br>
          مؤسس مايكروسفت بيل قيتس
          <br>
                    المؤلف :سمير امام شرف
                    <br>
                    <br>
          
          <b>
          30 جنيه سوداني -          20XP
        </b>
          
                    <br>
                    <br>
                    <button class="btn btn-sm btn-danger">

                        <span >
                            اضف الى السلة +
                          </span> 
                          <br>   
                        </button>
                  </span>
          
          </div>
        
          
        </div>
                <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

            <img style="width:100%;" src="assets/images/test2.jpg" >
        <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
            <span dir="rtl" style="text-align: center">
          <br>
          مؤسس مايكروسفت بيل قيتس
          <br>
                    المؤلف :سمير امام شرف
                    <br>
                    <br>
          
          <b>
          30 جنيه سوداني -          20XP
        </b>
          
                    <br>
                    <br>
                    <button class="btn btn-sm btn-danger">

                        <span >
                            اضف الى السلة +
                          </span> 
                          <br>   
                        </button>  
                    
                    </span>
          
          </div>
        
          
        </div>
                <div class="col-sm-3 col-6" style="padding-top:5%;padding-right:2.5%;padding-left:2.5%">

            <img style="width:100%;" src="assets/images/test2.jpg" >
            <div style="text-align: center;border:1px solid #6C757D;background-color: rgb(223, 217, 217);padding-bottom:10%">
            <span dir="rtl" style="text-align: center">
          <br>
          مؤسس مايكروسفت بيل قيتس
          <br>
                    المؤلف :سمير امام شرف
                    <br>
                    <br>
                    
          <b>
          30 جنيه سوداني -          20XP
        </b>
                    <br>
                    <br>
                    <button class="btn btn-sm btn-danger">

                    <span >
                        اضف الى السلة +
                      </span> 
                    </button>

                    
                    </span>
          
          </div>
        
          
        </div>
        
        
      </div>

        
        </div>




