


<div class="container pad" style="padding-top:15%;padding-bottom:10%">

<div class="row">



<div class="col-sm-6" dir="rtl" style="text-align:right;padding-bottom:10%">
<h3> تفاصيل الطلب :</h3>
<br>
<br>
<table class="table table-striped fony" style="font-size:30px">
   
    <tbody>
        <tr>
            <td>عدد الكتب</td>
            <td class="text-success">12 كتاب</td>
          </tr>
      <tr>
        <td> سعر الكتب:  </td>
        <td class="text-success">30ج <span> + 0 XP </span> </td>
        
      </tr>
      <tr>
        <td>سعر التوصيل:</td>
        <td class="text-success">40ج</td>
      </tr>
      <tr>
        <td>الاجمالي:</td>
        <td class="text-success"> 70ج  <span> + 0 XP </span> </td>
      </tr>
<br>
      <hr>

      <tr>

          <td> عدد نقاطك الحالية:  </td>
          <td class="text-success">10 xp </td>
          
        </tr>
    </tbody>
  </table>
<br>
<br>
<h3>من فضلك ادخل الموقع على الخريطة:</h3>
<br>
<div class="mapouter"><div class="gmap_canvas"><iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20khartoum&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a></div><style>.mapouter{text-align:right;height:500px;width:700px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:700px;}</style></div>

</div>

<div class= "col-sm-6" style="text-align: justify" dir="rtl">
    <h3 style="padding-bottom:5%">تفاصيل مقدم الطلب:</h3>

    <form [formGroup]="purchaseForm"  >
        <div class="form-group">
            <label for="Username">الاسم:</label>
            <br>
            <span style="display:inline-block;width:60%" class="feld">
        
            <input formControlName="firstName" disabled  required type="text" class="form-control" id="Username" placeholder="الاسم الاول" name="Username">
          </span>
        
          <span style=" display:inline-block;width:60%" class="feld">
            <input formControlName="lastName" disabled required type="text" class="form-control" id="Username" placeholder="الاسم الاخير" name="Username">
          </span>
        </div>
        
        <div class="form-group">
            <label  for="email">البريد الالكتروني:</label>
            <br>
            <span style="display:inline-block;width:60%;" class="feldd">
        
            <input formControlName="email" disabled required type="text" class="form-control" id="email" placeholder="البريد الالكتروني" name="Username">
          </span>
        </div>
        
        
        
        
     
        
        
   
        
      
        <div class="form-group" >
        
          <br>
            <label style="" for="tel"> رقم الهاتف:</label>
            <br>
            <span style="display:inline-block;width:60%;" class="feldd">
        
            <input formControlName="phone" disabled required type="number" class="form-control" id="tel" placeholder="رقم الهاتف" name="date">
          </span>
        
          
        </div>
      
        
        <div class="form-group" >
            <label style="" for=""> اختر الولاية والمحلية:</label>
            <br>
            <span style="display:inline-block;width:60%;" class="feld">
        
        <select formControlName="state" class="form-control" disabled >
          <option>
            الخرطوم
          </option>
        
        </select>
        </span>
        <span style="display:inline-block;width:60%;" class="feld">
        
        <select formControlName="locallity" class="form-control" disabled>
        
        <option>
        بحري
        </option>
        <option>
            شرق النيل
            </option>
            <option>
                كرري
                </option>
                <option>
                    امدرمان
                    </option>
                    <option>
                        جبل اولياء
                        </option>
                        <option>
                            بلا بلا بلا
                            </option>
                            <option>
                                بلا بلا بلا
                                </option>
        </select>
        
        </span>
        
        </div>
        
        
        <div class="form-group">
            <label style="" for="street"> ادخل الحي والشارع:</label>
            <br>
            <span style="display:inline-block;width:60%;" class="feld">
        
            <input formControlName="nigh" disabled required type="text" class="form-control" id="street" placeholder="الحي" name="street">
          </span>
        
          <span style=" display:inline-block;width:60%" class="feld">
            <input formControlName="street" disabled required type="text" class="form-control" id="streetone" placeholder="الشارع " name="streetone">
          </span>
        </div>
        
        
        <div class="form-group">
            <label style="" for="street"> (اختياري) ادخل  العنوان:</label>
            <br>
            <span style="display:inline-block;width:60%;" class="feldd">
        
            <input formControlName="address" disabled required type="text" class="form-control" id="all" placeholder="العنوان" name="all">
          </span>
        
        </div>
        <div >
                &nbsp;  اوافق على <a routerLink="/terms" style="color:#5A6268 !important"> شروط الاستخدام </a> و <a style="color:#5A6268 !important" routerLink="/privacy">سياسة الخصوصية </a> 
          </div>
          <br>
        <div style="padding-right: 5px">
        
        <button   type="submit" class="btn btn-danger bot">شراء الكتب</button>
        </div>
        
        
        
        </form>
        




</div>






</div>

















</div>