
<div class="hero-image"  >
 
 
    <div dir="rtl" class="hero-text">
      <div style="text-align:center">
  <h1   > تبديل الكتب
  </h1>
  
  
  
              </div>
    </div>
    
  </div>


<div class="container pad" style="padding-top:10%;padding-bottom:10%">
<div class="row">



<div class="col-sm-5" dir="rtl" style="text-align:right">
<h4>الحساب التقريبي للنقاط في الكتاب الواحد (XP) :
  (معرفة تقييم الكتاب)
</h4>
<br>
<form>
<h6>ادخل عدد صفحات الكتاب</h6>
<input name="pages" type="number" class="form-control">
<br>

<h6>حدد حالة الكتاب</h6>

<select name="status" class="form-control" dir="rtl">
  <option>
    حالة الكتاب :
  </option>
  <option>
    مستعمل بحالة جيدة
  </option>
  <option>
    مستعمل بحالة متوسطة
  </option>
  <option>
    مستعمل بحالة مقبولة
  </option>
</select>
<br>
<h6>حدد نوع الكتاب</h6>

<select name="cat" class="form-control" dir="rtl">
  <option>
    نوع الكتاب :
  </option>
  <option>
رواية
  </option>
  <option>
علمية  </option>
  <option>
سيرة ذاتية  </option>
</select>
<br>
<h6>حدد حجم الكتاب</h6>
<select name="size" class="form-control">
    <option>
        حجم الكتاب :
      </option>
      <option>
صغير
      </option>
      <option>
        متوسط
        </option>
        <option>
        كبير
          </option>
</select>
<br>

<h5>تقييم الكتاب : <span class=" btn btn-success">= 50 XP</span> 
</h5>
<button type="reset" class=" btn btn-primary"> اعادة الحساب</button>
</form>

<br>
<br>
</div>

<div class= "col-sm-7" style="padding-left:15%;text-align: justify" dir="rtl">
    <h2 style="text-align:center;padding-bottom:5%">تبديل الكتب</h2>

    كلما قمت بتبديل بكتبك أكثر كلما امتلأت مكتبتنا بشتى أنواع الكتب التي ستتسبب بدورها في جذب الكثير من القراء الآخرين الذين بدورهم سيقومون بتبديل بكتبهم وهكذا، ربما لا تجد كتابك المطلوب اليوم ولكن ربما يأتي كتابك الذى قمت بتبديله بالشخص الذي يملك هذا الكتاب ويقوم بتبديله، وبالتالى تحصل على كتابك، وهكذا تكتمل الدائرة.

    بتبديلك للكتب، ستحصل على العملات اللازمة لشراء الكتب الموجودة في موقعنا وهذا هو هدفك الرئيسي من عملية التبديل.
    
    أغلبنا يقرأ الكتاب مرة واحدة لذا لا داعي لامتلاء مكتبتك بكتب لن تقرأها ثانية، طالما في مقدورك ان تبدلها مع آخرين و تستفيد منها.
    
    بإعادة استخدام كتبك، تنقذ ملايين الأشجار من استخدامها في إنتاج الأوراق الجديدة وآلاف الأطنان من الوقود في تشغيل المصانع المنتجة للورق.
    
    بامكانك الآن أن تبدأ عملية التبادل و تنتظر مندوبنا الذي سيأتي إليك في أقرب وقت لأخذ الكتب و من ثم ادخالها إلى مكتبة الموقع و تحصل على عملاتك لتبدأ عملية شراء الكتب من مكتبة بوكابكيا.
<br>
<br>
<hr>
<h4>
  ادخل عدد الكتب التي تود تبديلها:
</h4>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
<input required name="pages" type ="number" class="form-control">
<br>
<!--


<mat-radio-group style="padding-left:10% !important;font-size:16px !important" aria-label="Select an option">
    <mat-radio-button [disabled] value="1">هل تريد الحصول على النقاط من أجل شراء الكتب الآن؟
      <br>
       (  الحد الاقصى 12 كتاب - سنلزمك بكتابة معلومات جميع الكتب 
       <br>
       التي ترغب في تبديلها الأن 
       - قد يتغير التقييم بعد وصول الكتب الينا
       )
      
      </mat-radio-button>
    <br>
    <mat-radio-button value="2">الحصول على النقاط بعد وصول موظف التوصيل</mat-radio-button>
  </mat-radio-group>
  -->
<button [disabled]="f.form.invalid" routerLink="/user/checkoutexchange" type="submit" class="btn btn-danger">اتمام عملية التبديل</button>
</form>
</div>






</div>
















</div>