    <div class="row pad" style="padding-top:15%">
            
    <div class="col-sm-5">
    </div>
<div class="form-group col-sm-5" dir="rtl" style="text-align:right">
        <div style="text-align:right;">
                <a class="btn btn-primary" routerLink="/user/cpanelexchange" style="padding-5px;width:23%">
                    طلبات التبديل
                </a>
                <br>
            <br>
            <a class="btn btn-primary" routerLink="/user/cpanelpurchase" style="padding-5px;width:23%">
                طلبات الشراء
            </a>
            <br>
        <br>
                <a class="btn btn-success" routerLink="/user/cpanel" style="padding-5px;width:23%">
            اضافة النقاط والكتب
                </a>
                <br>
            <br>
                <a class="btn btn-info" routerLink="/user/e" style="padding-5px;width:23%">
            الاستعلام وخدمة العملاء
                </a>
                <br>
            <br>
            <a class="btn btn-secondary" routerLink="/user/record" style="padding-5px;width:23%">
            السجل
                    </a>
                    <br>
                <br>
            </div>
   <h3>
        لوحة التحكم الخاصة بي xd

   </h3>
   <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" >

    <br>
    اسم الكتاب :
<input type="text" class="form-control" name="bookname" id="bookname" [(ngModel)]="book.name">
<br>

السعر بالجنيه
<input type="text" class="form-control" name="priceSDG" id="priceSDG" [(ngModel)]="book.priceSdg">
<br>

السعر ب xp
<input type="text" class="form-control" name="priceXP" id="priceXP" [(ngModel)]="book.priceXp">
<br>

المؤلف
<select class="form-control" name="authname" id="authname" [(ngModel)]="book.author">

    </select>
<br>

نبذة عن الكتاب
<textarea rows="10" cols="10" class="form-control" name="description" id="description" [(ngModel)]="book.description">

</textarea>



<br>
 ملاحظات اضافية :
<input type="text" class="form-control" name="note" id="note" [(ngModel)]="book.note">
<br>
عدد الصفحات
<input type="text" class="form-control" name="pages" id="pages" [(ngModel)]="book.pages">
 <br>


 <select class="form-control" name="status" id="status" [(ngModel)]="book.status">
     <option>حالة الكتاب</option>
     <option>جديد</option>
     <option>مستعمل بحالة جيدة</option>
     <option>مستعمل بحالة متوسطة</option>
     <option>مستعمل بحالة مقبولة</option>

 </select>

<br>



<select class="form-control" name="cat" id="cat" [(ngModel)]="book.category" >
<option>
الفئة
</option>
<option>
    رواية
    </option>
    <option>
    علمية
        </option>
        <option>
    سيرة ذاتية
            </option>



</select>


<br>

الصورة:
<input type="file" class="form-control" name="pic" id="pic" [(ngModel)]="book.image">

<br>
<button type="submit" class="btn btn-warning">submit</button>
</form>

<br>
<br>
<br>
<form>


        اضف مؤلفين
                <input type="text" class="form-control" name="authname" id="authname">
        
        <br>
        نبذة عن المؤلف :
        <input type="text" class="form-control" name="authname" id="authname">

        <button class="btn btn-success">submit</button>
        </form>

        <br>
        <br>
        <form>


احذف كتاب :
                <input type="text" class="form-control" name="authname" id="authname">
        
        <br>
       
        <button class="btn btn-success">submit</button>
        </form>
        <br>
        <br>
        
        <form>


اضف نقاط للمستخدم
email:
                    <input type="text" class="form-control" name="authname" id="authname">
            <br>
            xp:
            <input type="number" class="form-control" name="authname" id="authname">
<br>
bonos xP:
<input type="number" class="form-control" name="authname" id="authname">
notifaction:
<input type="text" class="form-control" name="authname" id="authname">

            
            <button class="btn btn-success">submit</button>
            </form>
</div>







</div>









